<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
				<li><a href="/About">About Me</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/Education">Education</a></li>
				<li><a href = "/Academic">Academic Experience</a></li>
				<li><a href = "/Job">Job Experience</li>
				<li><a href = "/Licenses">Licenses & certifications</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
		</body>
	</html>
